<div class="p-6 bg-gray-50">
  <div class="flex justify-between mb-4">
    <select (change)="changeLanguage($event)" class="bg-gray-200 border border-gray-300 rounded px-4 py-2">
      <option value="kz" [selected]="languageService.getLanguage() === 'kz'">Қазақша</option>
      <option value="ru" [selected]="languageService.getLanguage() === 'ru'">Русский</option>
    </select>
    <p-button (click)="openCreateEditDialog()" label="{{ languageService.getLanguage() === 'kz' ? 'қосу' : 'Добавить' }}"></p-button>
  </div>

  <div class="mb-4">
    <input
      type="text"
      placeholder="{{ languageService.getLanguage() === 'kz' ? 'Аты бойынша іздеу' : 'Поиск по наименованию' }}"
      [(ngModel)]="searchTerm"
      (input)="filterDetectors()"
      class="border border-gray-300 rounded px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-400"
    />
  </div>

  <p-table [value]="filteredDetectors" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [tableStyle]="{'min-width': '100rem'}"  class="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-left px-6 py-4 font-medium text-gray-700 border-b">{{ languageService.getLanguage() === 'kz' ? 'Атауы' : 'Наименование' }}</th>
        <th class="text-left px-6 py-4 font-medium text-gray-700 border-b">{{ languageService.getLanguage() === 'kz' ? 'Саны' : 'Количество' }}</th>
        <th class="text-left px-6 py-4 font-medium text-gray-700 border-b">
          {{ languageService.getLanguage() === 'kz' ? 'Өндірілген ел' : 'Страна производства' }}
          <select [(ngModel)]="selectedCountryId" (change)="filterDetectors()" class="ml-2 border border-gray-300 rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400">
            <option *ngFor="let country of countries" [value]="country.id">
              {{ languageService.getLanguage() === 'kz' ? country.nameKaz : country.nameRus }}
            </option>
          </select>
        </th>
        <th class="text-left px-6 py-4 font-medium text-gray-700 border-b">
          {{ languageService.getLanguage() === 'kz' ? 'Металл іздегіш түрі' : 'Тип металлоискателя' }}
          <select [(ngModel)]="selectedTypeId" (change)="filterDetectors()" class="ml-2 border border-gray-300 rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400">
            <option *ngFor="let type of types" [value]="type.id">{{ languageService.getLanguage() === 'kz' ? type.nameKaz : type.nameRus }}</option>
          </select>
        </th>
        <th class="text-left px-6 py-4 font-medium text-gray-700 border-b">
          {{ languageService.getLanguage() === 'kz' ? 'Қолжетімділік күйі' : 'Статус наличия' }}
          <select [(ngModel)]="selectedAvailabilityId" (change)="filterDetectors()" class="ml-2 border border-gray-300 rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400">
            <option *ngFor="let availability of availabilities" [value]="availability.id">
              {{ languageService.getLanguage() === 'kz' ? availability.nameKaz : availability.nameRus }}
            </option>
          </select>
        </th>
        <th class="text-left px-6 py-4 font-medium text-gray-700 border-b">{{ languageService.getLanguage() === 'kz' ? 'Шығарылған жылы' : 'Год производства' }}</th>
        <th class="text-left px-6 py-4 font-medium text-gray-700 border-b"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detector>
      <tr>
        <td class="px-6 py-4 border-b">{{ detector?.brand }}</td>
        <td class="px-6 py-4 border-b">{{ detector?.count }}</td>
        <td class="px-6 py-4 border-b">{{ languageService.getLanguage() === 'kz' ? detector?.countryManufactureNameKaz : detector?.countryManufactureNameRus }}</td>
        <td class="px-6 py-4 border-b">{{ languageService.getLanguage() === 'kz' ? detector?.typeMetalDetectorsNameKaz : detector?.typeMetalDetectorsNameRus }}</td>
        <td class="px-6 py-4 border-b">{{ languageService.getLanguage() === 'kz' ? detector?.availabilityNameKaz : detector?.availabilityNameRus }}</td>
        <td class="px-6 py-4 border-b">{{ detector?.yearIssue }}</td>
        <td class="px-6 py-4 border-b ">
          <p-button
            type="button"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteMetalDetector(detector.id)">
          </p-button>
          <p-button
            type="button"
            icon="pi pi-pencil"
            class="p-button-warning"
            (click)="openCreateEditDialog(detector)">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
